<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">{{inter.labels.footer.title}}</h5>
        <p class="grey-text text-lighten-4">{{inter.labels.footer.desc}}</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">{{inter.labels.footer.links}}</h5>
        <ul>
          <li *ngFor="let path of router.config"><a class="grey-text text-lighten-3" [routerLink]="[path.path]">{{path.path}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2019 StroyCloud
    </div>
  </div>
</footer>
