@import './vars';

.header {
    background:url('/assets/img/ep_naturalblack.png');
    color: white;
    padding-top: 67px;
    border-bottom:  5px solid  $dark-red;
    // text-shadow: 10px 10px 10px black;
    margin-bottom: 10px;
}
