<button  id="addLog" class="btn-floating btn-large waves-effect waves-light red" (click)="openModal()"><i class="material-icons">add</i></button>
<div id="modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]"
  [materializeActions]="modalActions">

  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="col s12 center-align">
          <div class="row">
            <h5>
              Add a new entry
            </h5>
            <div class="col s6 push-s3 hr"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <form class="col s12" [formGroup]="logForm">

          <div class="row">
            <div class="input-field col s12">
              <input id="title" type="text" formControlName="logTitle" [ngClass]="{'invalid': isTitleInvalid, 'valid': isTitleValid}">
              <label for="title">Entry Title</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea" [ngClass]="{'invalid': isContentInvalid, 'valid': isContentValid}"   formControlName="logContent"></textarea>
              <label for="textarea1">Entry content</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="tags" type="text"   formControlName="logTags">
              <label for="tags">Entry tags</label>
            </div>
          </div>

        </form>
      </div>

      <div class="row">
        <div class="col s12 m4">
          <button class="btn  width modal-action modal-close waves-effect waves-light"
            (click)="closeModal()">Cancel</button>
        </div>
        <div class="col s12 m4 offset-m4">
          <button class="btn width waves-effect waves-light" (click)="addEntry()" [disabled]='!isEntryValid' >Add entry</button>
        </div>
      </div>

    </div>
  </div>
</div>
