@import '~sass/vars';

.chatTitleBar {
  background-color:$primary-color;
  height: 36px;
  text-align: center;
  box-sizing: border-box;
  padding:5px;
  color:white;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
.row {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

.row, .col {
  padding: 0;
  margin-bottom:0!important;
  margin-top:0!important;
}


iframe {
  min-height: 500px;
  overflow: none;
}
