<div class="box left-align {{isSelected}}" (click)="selected()">
  <h5>{{entry.title}}</h5>
  <p *ngIf="!isUser">{{inter.labels.feed.added}}: {{entry.owner.username}} </p>
  <code>{{inter.labels.feed.date}}: {{entry.createdAt}}</code>
  <div class="hr"></div>
  <p style="word-wrap: break-word;">{{entry.content}}</p>
  <div class="hr"></div>
  <code>{{inter.labels.feed.tags}}: {{entry.tags}}</code>

  <!-- <div class="row">
    <div class="col s11 center-align">
      <h5>{{entry.title}}</h5>
    </div>
    <div class="col s1 ">
      <i class="material-icons right">lock_outline</i>
    </div>
  </div>

  <div class="row">
    <div class="col s12">

    </div>
  </div> -->


</div>
