:host { // margin for nav bar
  display: block;
  margin-top: 10px;
}

.hr {
  width: 80%;
  margin: 0 auto;
}

.input-field {
  margin-bottom: 0!important;
}
.row {
  margin: 0!important;
}

#editButton {
  position: fixed;
  bottom: 35px;
  right: 15px;
  color: white;
}

#modal {
  padding: 50px;
}

#modal {
  h5 {
    margin-bottom: 50px;
  }
  .btn {
    min-width: 100%;
    margin-bottom: 10px;
  }
}