<app-nav-bar></app-nav-bar>

<div class="header">

  <div class="row">
    <div class="col center-align s12">
      <!-- picture  col -->
      <div class="col s12">
        <img src="../../assets/img/cross.png" class="responsive-img" width="100px" alt="">
      </div>

      <div class="col s12">

        <div class="col s12">
          <h3>Dr {{name}}</h3>
        </div>
      </div>

      <div class="col s12">
        <!-- Next possible donation on: 22/22/2222 -->
        <app-create-donation-request></app-create-donation-request>
        
      </div>

    </div>
  </div>
</div>

<app-avaible-donations ></app-avaible-donations>